#game-container {
  margin-top: 40px;
  position: relative;
  padding: 15px;
  cursor: default;
  background: #bbada0;
  border-radius: 6px;
  width: 575px;
  height: 575px;
  box-sizing: border-box;
  -webkit-user-select: none;
  touch-action: none;
}
/*.row {
  margin-bottom: 15px;
}*/

.cell {
  height: 106px;
  width: 106px;
  margin: 15px;
  float: left;
  border-radius: 3px;
  background: rgba(238, 228, 218, 0.35);
}